body {
    padding-top: 56px;
}


/*Header*/
header {
    width: 100%;
    background: #1e51a4;
    padding: 12px 0;

    position: fixed;
    top: 0;

    z-index: 10;

    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
}

.left-menu {
    float: left;
    margin-left: 20px;
}
.left-menu .logo {
    vertical-align: middle;
    margin: 6px 0;
}
.left-menu .small-logo {
    display: none;
}

.right-menu {
    float: right;
    margin-right: 20px;
}
.right-menu .header-menu {
    margin: 5px 0;
}
.right-menu .header-menu a {
    color: #b7cbff;
    text-decoration: none;
    margin: 5px;
    vertical-align: middle;
}
.right-menu .header-menu a:hover {
    color: #a51d71;
}

.right-menu .header-menu-open {
    display: none;
    border: none;
    background: transparent;
    color: #b7cbff;
    vertical-align: middle;
}
.right-menu .header-menu-open:hover {
    color: #2196F3;
}

@media screen and (max-width: 600px) {
    .right-menu .header-menu { display: none }
    .right-menu .header-menu-open {display: initial}
}
@media screen and (max-width: 340px) {
    .left-menu .big-logo {display: none;}
    .left-menu .small-logo {display: initial;}
}
/*--Header--*/
/*Main banner*/
.main-banner #fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #FAFAFA;
}
.main-banner .ifmo-center-text {
    text-align: center;
    color: #FFF;
    z-index: 6;
    font-size: 30px;
}
.main-banner .autodesk-logo {
    background: url('/OrdynaryShark.github.io/images/Autodesk_Logo.svg');
    padding-top: 53px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    margin: 40px;
    float: left;
}
.about-us {
    padding: 40px 0;
    -webkit-box-shadow: 0 0px 4px 0 rgba(0,0,0,0.14), 0 0px 3px -2px rgba(0,0,0,0.12), 0 0px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.14), 0 0px 3px -2px rgba(0,0,0,0.12), 0 0px 8px 0 rgba(0,0,0,0.2);
}
.section-text {
    background: #F5F5F5;
    padding: 40px;
    max-width: 600px;
    margin: auto;
    -webkit-box-shadow: 0 0px 4px 0 rgba(0,0,0,0.14), 0 0px 3px -2px rgba(0,0,0,0.12), 0 0px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.14), 0 0px 3px -2px rgba(0,0,0,0.12), 0 0px 8px 0 rgba(0,0,0,0.2);
}

.slide {
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 1000px rgba(1, 10, 60, 0.72);
}
.slide .dark-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(7, 3, 35, 0.76);
    top: 0;
}
#main_banner_slide_1 {
    background-image: url(../../images/autodesk-design-review-2016-banner-1920x373.jpg);
}
#main_banner_slide_2 {
    background-image: url(../../images/banner2.jpg);
}

@media screen and (max-width: 380px) {
    .main-banner .autodesk-logo {
        width: 90%;
        margin: auto;
        line-height: 22px;
    }
}

/*--Main banner--*/
#main_viewer_wrap{
    width: 300px;
    height: 300px;
    margin: 40px;
}

.divider_paralax {
    height: 100px;
    width: 100%;
    background-image: url("../../images/divider_1.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Список новостей*/
.news {
    /*max-width: 750px;*/
    margin: 60px auto;
    min-height: 90vh;
    width: 100%;
    overflow: hidden;
}
.news ul{
    /*left: -15vw;*/
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.news-item {
    width: 50vw;
    opacity: 0.7;
    font-size: 10px;

    vertical-align: middle;
    text-align: left;
    display: inline-block;
    /*margin: 1%;*/
    box-shadow: 0 0 8px #9E9E9E;
    /*padding: 10px;*/
    border: 2px solid #1e51a4;
    border-radius: 5px;
}
.news-item .news-img-wrap {
    width: 30%;
    margin-right: 10px;
    float: left;
}
.news-item .news-img {
    border-radius: 2px;
    max-width: 300px;
}
.news-item .news-text-wrap {
    width: 65%;
    padding: 10px 0;
    margin: 0 10px;
    float: left;
}
.news-item .news-text {
    overflow-y: hidden;
    max-height: 50vh;

}
.news-item.itemslide-active .news-text {
    max-height: 80vh;

}
.news-item.itemslide-active {
    width: 50vw;
    opacity: 1;
    box-shadow: 0 0 3px #9E9E9E;
    font-size: 14px;
}
/*Список курсов*/
.Kurse-wrap {
    background: #5274cb;
    padding: 60px 0;
}
.Kurse-title {
    max-width: 800px;
    margin: 0px auto;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    padding-top: 20px;
}
.Kurse-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.Kerse-table-wrap {
    float: left;
    padding: 20px 0px;
}

.Kurse-text {
    border: 2px solid #ec0b43;
    cursor: pointer;
    z-index: 4;
    background-color: #fff;
    margin: 15px auto;
    min-width: 400px;
    padding: 10px 25px;
    box-shadow: 0 1px 5px black;
    border-radius: 30px;
}
.Kurse-text a {
    color: #212121;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.Kurse-text:hover {
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.71);
    position: relative;
    top: -3px;
    color: #fff;
    border: 2px solid #fff;
    background: rgb(236, 11, 67);
}
.Kurse-text:hover a {
    color: #fff;
}
.Kurse-text:active {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.71);
    position: relative;
    border: 2px solid #fff;
    top: -1px;
}

.product-preview {
    text-align: center;
}
.product-log {
    background: #fff;
    padding: 40px;
    width: 200px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 20px;
    margin: 13px 10;
}
.product-log:hover {
    box-shadow: 0 5px 7px 1px rgba(0, 0, 0, 0.71);
    position: relative;
    top: -5px;
}
.product-log:active {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.71);
    position: relative;
    top: -2px;
}


/*Footer*/
.futer {
    width: 100%;    
    background-color: #162631;
    padding: 30px 0;
}
.fuiter{
    color: #fff;
    width: 50%;
    float: left;
    text-align: center;
}
@media screen and (max-width: 630px) {
    .fuiter{
        width: 100%;
    }
}
.fuiter.right{
    padding-top: 15px;
    padding-left: 10px;
}
.fuiter.left{
    text-align: left;
}
.textik{
    text-align: center;
    color: #666;
}
.footer-social-info{
    
}