body {
    padding-top: 56px;
}


/*Header*/
header {
    width: 100%;
    background: #2151a4;
    padding: 11px 0;

    position: fixed;
    top: 0;

    z-index: 10;

    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
}

.left-menu {
    float: left;
    margin-left: 10px;
}
.left-menu .logo {
    vertical-align: middle;
    margin: 6px 0;
}
.left-menu .small-logo {
    display: none;
}

.right-menu {
    float: right;
    margin-right: 10px;
}
.right-menu .header-menu {
    margin: 5px 0;
}
.right-menu .header-menu a {
    color: #b7cbff;
    text-decoration: none;
    margin: 5px;
}
.right-menu .header-menu a:hover {
    color: #b0daff;
}
.right-menu .header-menu-open {
    display: none;
    border: none;
    background: transparent;
    color: #b7cbff;
}
.right-menu .header-menu-open:hover {
    color: #2196F3;
}

@media screen and (max-width: 550px) {
    .right-menu .header-menu { display: none }
    .right-menu .header-menu-open {display: initial}
}
@media screen and (max-width: 280px) {
    .left-menu .big-logo {display: none;}
    .left-menu .small-logo {display: initial;}
}
/*--Header--*/
/*Main banner*/
.main-banner {
    background: url('/OrdynaryShark.github.io/images/autodesk-design-review-2016-banner-1920x373.jpg') no-repeat center;
    background-size: cover;
}
.main-banner .autodesk-logo {
    background: url('/OrdynaryShark.github.io/images/Autodesk_Logo.svg');
    padding-top: 53px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    margin: 40px;
    float: left;
}
.about-us {
    padding: 40px 0;
    -webkit-box-shadow: 0 0px 4px 0 rgba(0,0,0,0.14), 0 0px 3px -2px rgba(0,0,0,0.12), 0 0px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.14), 0 0px 3px -2px rgba(0,0,0,0.12), 0 0px 8px 0 rgba(0,0,0,0.2);
}
.section {
    padding: 10px;
    max-width: 800px;
    margin: 0px auto;
}
.section-text {
    background: #F5F5F5;
    padding: 40px;
}
.product-preview {
    width: 100%;
    text-align: center;
}
.product-log {
    padding: 40px;
    width: 200px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.product-log:hover {
    box-shadow: 0 5px 7px 1px rgba(66, 66, 66, 0.71);
    position: relative;
    top: -5px;
}
.product-log:active {
    box-shadow: 0 2px 4px 1px rgba(66, 66, 66, 0.71);
    position: relative;
    top: -2px;
}
.product-log.item_1 {
 }
.product-log.item_2 {
 }
.product-log.item_3 {
 }
@media screen and (max-width: 380px) {
    .main-banner .autodesk-logo {
        width: 90%;
        margin: auto;
        line-height: 22px;
    }
}

/*--Main banner--*/
#main_viewer_wrap{
    width: 300px;
    height: 300px;
    margin: 40px;
}

.divider_paralax {
    height: 100px;
    width: 100%;
    background-image: url("../../images/divider_1.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.news {
    height: 100vh;
}