/*Body*/
body {
    padding-top: 45px;
}
/*Header*/
header {
    width: 100%;
    background: #2151a4;
    padding: 8px 0;

    position: fixed;
    top: 0;

    z-index: 10;

    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
}

.left-menu {
    float: left;
}
.left-menu-open {
    border: none;
    margin: 0 5px;
    background-color: transparent;
    cursor: pointer;
}
.left-menu .small-logo {
    display: none;
}
.left-menu-open .material-icons {
    color: #b7cbff;
}
.left-menu-open .material-icons:hover {
    color: #ffffff;
}

.right-menu {
    float: right;
}
.right-menu-open {
    cursor: pointer;
    background: transparent;
    border: none;
    color : #b7cbff;
    margin: 0 5px;
}
.right-menu-open:hover {
    color: #ffffff;
}
.right-menu-open .user-name {
    vertical-align: middle;
}
.right-menu-open .material-icons {
    vertical-align: middle;
}

@media screen and (max-width: 370px) {
    .right-menu-open .user-name { display: none }
}
@media screen and (max-width: 330px) {
    .left-menu .big-logo { display : none }
}
/*--Header--*/
/*Main*/
.autodesk-logo-line {
    background: url(/images/home_page_banner2.png) right no-repeat,
    #f9f9f9;
    background-size: contain;
    width: 100%;
    padding: 10px 0;
}
.autodesk-logo {
    padding: 8px 12px;
    background: transparent;
    border: none;
}

@media screen and (max-width: 460px) {
    .autodesk-logo-line { background: #f9f9f9; }
}

.page-wrap {
    -webkit-box-shadow: 0 -3px 4px 0 rgba(0,0,0,0.14), 0 -3px 3px -2px rgba(0,0,0,0.12), 0 -1px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 -3px 4px 0 rgba(0,0,0,0.14), 0 -3px 3px -2px rgba(0,0,0,0.12), 0 -1px 8px 0 rgba(0,0,0,0.2);

    height: 100%;
}
.page-menu {
    width: 100%;
    padding: 12px 0;

    font-size: 24px;
    font-family: 'Open Sans', sans-serif;

    color: #ffffff;
    background: #5274cb;
}
.page-menu .page-name {
    margin: 0 10px;
}

.container {
    padding: 10px 0;
}

/*Item*/
.item .top {
    margin-bottom: 10px;
}
.item .top .title{
    font-size: 16px;
}

.item .middle {
    min-height: 200px;
}
.item .middle .photo-item {
    width: 100px;
    height: 100px;

    float: left;

    margin: 0 5px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.item .middle .photo-preview {
    margin: 10px 0;
}

.item .bottom {
    font-size: 14px;
}
.item .bottom .date {
    float: left;
}
.item .bottom .property {
    padding: 0;
    border: none;
    background: #ffffff;
    float: right;
}

.item {
    width: 45%;

    padding: 10px;
    margin: 10px;
    /*margin-bottom: 10px;*/

    box-shadow: 0 0 3px #9E9E9E;
}
@media screen and (min-width: 765px) {
    .container {
        width: 90%;
        margin: auto;

        padding: 40px 0;
    }
    .item {
        margin-bottom: 10px;

        position: initial;
    }
}
@media screen and (max-width: 765px) {
    .item {
        margin: auto;
        margin-bottom: 10px;
        width: 90%;
    }
}
/*--Item--*/
/*--Main--*/

/*Nav menu*/
.nav-panel {
    position: fixed;
    z-index: 20;

    background: white;
    padding: 5px 0;

    display: none;

    -webkit-box-shadow: 0px 0px 8px 0px #9E9E9E;
    -moz-box-shadow:    0px 0px 8px 0px #9E9E9E;
    box-shadow:         0px 0px 8px 0px #9E9E9E;
}
.nav-panel li {
    padding: 5px 10px;
}
.nav-panel li:hover {
    background-color: #F5F5F5;
}
.nav-panel li a {
    text-decoration: none;
    color: #000;
}

#nav_menu {
    top: 10px;
    left: 10px;
}
#user_menu {
    top: 10px;
    right: 10px;
}
/*--Nav menu--*/
/*Red button*/
.red-button {
    width: 50px;
    height: 50px;

    position: fixed;
    right: 5%;
    bottom: 5%;

    border: none;
    border-radius: 50%;

    background: #ec0b43;
    color: white;

    -webkit-box-shadow: 0 0px 4px 3px rgba(0,0,0,0.14), 0 0px 3px 0px rgba(0,0,0,0.12), 0 0px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 4px 3px rgba(0,0,0,0.14), 0 0px 3px 0px rgba(0,0,0,0.12), 0 0px 8px 0 rgba(0,0,0,0.2);
}
.red-button:active{
    -webkit-box-shadow: 0 0px 4px 0 rgba(0,0,0,0.14), 0 0px 3px -2px rgba(0,0,0,0.12), 0 0px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.14), 0 0px 3px -2px rgba(0,0,0,0.12), 0 0px 8px 0 rgba(0,0,0,0.2);
}
.red-button:hover {
    background: #fd1f56;
}
/*--Red button--*/

/*White popup*/
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 5px;
    min-height: 485px;
}
.white-popup label {
    font-size: 14px;
    color: #757575;
}
.white-popup .form-title {
    padding: 5px 0 10px 0;
    font-size: 20px;
}
.white-popup .left-side {
    float: left;
    width: 49%;
}
.white-popup .right-side {
    float: left;
    width: 49%;
    margin-left: 2%;
}
@media screen and (max-width: 600px) {
    .white-popup .left-side {
        width: 100%;
    }
    .white-popup .right-side {
        width: 100%;
        margin-left: 0;
    }
}

input.form-input, textarea.form-input{
    width: 95%;
    padding: 5px;
    font-size: 16px;
    border: none;
    resize: none;
}
input.form-input:focus, textarea.form-input:focus {
    border-bottom: 2px solid #2196F3;
    outline:0 none !important;
}

input[name="title"].form-input {
    font-weight: bold;
}

.white-popup .img-wrap {
    text-align: center;
    background: #FAFAFA;

    margin-top: 10px;

    -webkit-box-shadow: inset 0px 0px 5px 1px #9E9E9E;
    -moz-box-shadow: inset 0px 0px 5px 1px #9E9E9E;
    box-shadow: inset 0px 0px 5px 1px #9E9E9E;
}
.white-popup .img-wrap img {
    vertical-align: middle;
    margin: 10px;
}
.white-popup .drag-and-drop {
    margin-top: 10px;
    padding: 10px 4%;

    min-height: 80px;
    width: 92%;
    background: #FAFAFA;

    -webkit-box-shadow: inset 0px 0px 5px 1px #9E9E9E;
    -moz-box-shadow: inset 0px 0px 5px 1px #9E9E9E;
    box-shadow: inset 0px 0px 5px 1px #9E9E9E;
}
.white-popup .drag-and-drop-placeholder {
    width: 100%;
    text-align: center;
    margin: 24px 0;
}
.white-popup .is-dragover .drag-and-drop-placeholder {
    color: #9E9E9E;
}
.white-popup .drag-and-drop-files {
    border: 1px dashed #9E9E9E;
    width: 100%;
    height: 100%;
}
.white-popup .drag-and-drop.is-dragover {
    background: #E8EAF6;
}
.white-popup .drag-and-drop.is-dragover .drag-and-drop-files {
    border: 1px solid #3F51B5;
}
.white-popup .submit-button-wrap {
    width: 100%;
    text-align: right;
    padding-top: 10px;
}
.white-popup .submit-button {
    background: #43A047;
    border: none;
    padding: 8px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 0px 5px 1px #9E9E9E;
    -moz-box-shadow: 0px 0px 5px 1px #9E9E9E;
    box-shadow: 0px 0px 5px 1px #9E9E9E;
}
.white-popup .submit-button:hover {
    background: #388E3C;
}
.white-popup .submit-button:active {
    -webkit-box-shadow: 0px 0px 3px 0px #9E9E9E;
    -moz-box-shadow: 0px 0px 3px 0px #9E9E9E;
    box-shadow: 0px 0px 3px 0px #9E9E9E;
}
.white-popup .photo-preview {
    float : left;
    margin: 5px;
    border : 1px solid #9E9E9E;
    background-size : contain;
    background-position : center;
    background-repeat : no-repeat;
}
.white-popup .photo-preview.selected {
    margin: 4px;
    border: 2px solid #4CAF50;
}
.white-popup .photo-preview .material-icons {
    cursor: pointer;
    font-size: 60px;
    color: #ec0b43;
    display: none;
}
.white-popup .photo-preview .material-icons:hover {
    color: #ec6d6b;
}
.white-popup .photo-preview.selected .material-icons{
    display: initial;
}
/*--White popup--*/
